<ion-header>
  <ion-toolbar>
      <ion-menu-button  color="dark" menu="first"></ion-menu-button>
      <ion-grid>
          <ion-row>
              <ion-col size="8">
                  <ion-searchbar showCancelButton="focus" animated></ion-searchbar>
              </ion-col>
              <ion-col size="1">
                  <ion-img src="assets/media/duoc.png" class="logo"></ion-img>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-split-menu>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item tappable routerLink="/perfil" routerDirection="root">
          <ion-icon name="person" slot="start"></ion-icon>
          Perfil
        </ion-item>
        <ion-item tappable routerLink="/config" routerDirection="root">
          <ion-icon name="settings" slot="start"></ion-icon>
          Configuraciones
        </ion-item>
        <ion-item tappable routerLink="/notificaciones" routerDirection="root">
          <ion-icon name="notifications" slot="start"></ion-icon>
          Notificaciones
        </ion-item>
        <ion-item tappable routerLink="/ayuda" routerDirection="root">
          <ion-icon name="help-buoy-outline" slot="start"></ion-icon>
          Ayuda
        </ion-item>
        <ion-item tappable routerLink="/selogin" routerDirection="root">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Cerrar Sesion
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-menu>
<ion-item>
  <ion-label class="centrado">
    Perfil
  </ion-label>
</ion-item>
<ion-card style="height: 500px;">
  <ion-card-header>
      <ion-img src="assets/media/perfil.png"></ion-img>
    <ion-card-subtitle>Juan Pérez</ion-card-subtitle>
    <ion-card-title>Sede: Antonio Varas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Escuela de ingenieria,
    Mecanica automotriz,
    Diurna
  </ion-card-content>
</ion-card>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button href="./inicio">
          <ion-icon name="map"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
      
        <ion-tab-button href="./recordatorio">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Recordatorios</ion-label>
        </ion-tab-button>
          
        <ion-tab-button href="./novedades">
          <ion-icon name="newspaper"></ion-icon>
          <ion-label>Novedades</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>  